<li>
	<p>
		<strong>{{category.name}}</strong>
		<i>count of money: {{total-cost category.money}}<strong>{{amountMoney}}</strong></i>
		{{input type="number" value=newMoney placeholder="type mach you want add" }} 
		<button {{ action "addMoney" newMoney }} >add money</button>
		{{input value=subCategory placeholder="input name of subcategory" }} 
		<button {{action "addSubCategory" subCategory }} >add subCategory</button> 
		<button {{action "removeCategoty" }}>remove this category</button>
	</p>
	<p class="catError">
		&nbsp;{{catError}}
	</p>	
	{{#if category.childcat}}
	<ul>
		{{#each category.childcat as |el|}}
			{{recursive-category сategoryId=el.id}}
		{{/each}}
	</ul>
	{{/if}}
</li>

