<h4>cash application</h4>
<h5>{{appError}}&nbsp;</h5>
{{input type="text" value=subName placeholder="input name for category"}}
<button {{action "addTopCat" subName }}>add category</button>
<hr>
<p>Date area</p>
now Data: {{date-picker date=dateStore.nowData valueFormat='DD-MM-YYYY'}}
start Data: {{date-picker date=dateStore.startData valueFormat='DD-MM-YYYY'}}
end Data: {{date-picker date=dateStore.endData valueFormat='DD-MM-YYYY'}}
<hr>

<ul>
{{#each model as |el|}}
	{{#if el.top}}
		<li>
			<ul>{{recursive-category сategoryId = el.id }}</ul>
		</li>
	{{/if}}
{{/each}}
</ul>

