<h4>cash application</h4>
<h5>{{appError}}&nbsp;</h5>
{{input type="text" value=subName placeholder="input name for category"}}
<button {{action "addTopCat" subName }}>add category</button>
<hr>
<p>Date area</p>
now Date: {{date-picker date=dateStore.nowDate valueFormat='YYYY-MM-DD'}}
start Date: {{date-picker date=dateStore.startDate valueFormat='YYYY-MM-DD'}}
end Date: {{date-picker date=dateStore.endDate valueFormat='YYYY-MM-DD'}}
<hr>

<ul>
{{#each model as |el|}}
	{{#if el.top}}
		<li>
			<ul>{{recursive-category сategoryId = el.id }}</ul>
		</li>
	{{/if}}
{{/each}}
</ul>

{{ pie-chart startDate=dateStore.startDate endDate=dateStore.endDate startRender=dateStore.startRender }}

